<div class="column-split">
    <div class="row-split">
        <div class="box-column-1">
            <app-player-basic></app-player-basic>
            <app-player-basic-ranked></app-player-basic-ranked>
            <app-player-basic-classic></app-player-basic-classic>
            <app-player-basic-overall-stats></app-player-basic-overall-stats>
            <app-player-basic-friends></app-player-basic-friends>
            <app-player-basic-legion-choice></app-player-basic-legion-choice>
        </div>
        <div class="box-column-2">
            <app-elo-box></app-elo-box>
            <app-player-basic-match-history></app-player-basic-match-history>
            <app-player-basic-activity></app-player-basic-activity>
        </div>
    </div>
</div>