.container-style{
    justify-content: center;
    gap: 5px;
    span{
        width: 100%;
        text-align: left;
        padding-right: 24px;
    }
}

.img-container{
    align-items: left !important;
    
}