<div class="match-card">
    <div class="card-body">
        <span class="match-result"></span>
        <div>
            <div class="top-info"></div>
            <div class="match-info">
                <span class="starting-units">
                    <img src="assets/img/LegionIcons/Consort.png">
                </span>
                <span class="result-rank">
                    <h6>Win</h6>
                    <h6>4th</h6>
                </span>
                <span class="worker-income">
                    <span>
                        <img src="assets/img/LegionIcons/Income.png">
                        <h6>2002</h6>
                    </span> 
                    <span>
                        <img src="assets/img/LegionIcons/Worker.png">
                        <h6>142.2</h6>
                    </span>
                </span>
                <span class="fighting-stats">
                    <span>
                        <img src="assets/img/LegionIcons/Value32.png">
                        <h6>142.2</h6>
                    </span>
                    <span>
                        <img src="assets/img/LegionIcons/LeakRatio.png">
                        <h6>142.2</h6>
                    </span>
                </span>
                <span class="playstyle">
                    <span>
                        <img src="assets/img/LegionIcons/Fiesta.png">
                        <h6>Fiesta</h6>
                    </span>
                    <span>
                        <img src="assets/img/LegionIcons/LeakRatio.png">
                        <h6>142.2</h6>
                    </span>
                </span>
                <span class="team">
                    <span>
                        <img src="assets/img/LegionIcons/Ranks/Legend.png">
                        <h6>NMH</h6>
                    </span>
                    <span>
                        <img src="assets/img/LegionIcons/Ranks/Legend.png">
                        <h6>Shiyuna</h6>
                    </span>
                    <span>
                        <img src="assets/img/LegionIcons/Ranks/Legend.png">
                        <h6>Vomi</h6>
                    </span>
                    <span>
                        <img src="assets/img/LegionIcons/Ranks/Legend.png">
                        <h6>Chiyoko</h6>
                    </span>
                </span>
                <span class="team">
                    <span>
                        <img src="assets/img/LegionIcons/Ranks/Legend.png">
                        <h6>Vlakov</h6>
                    </span>
                    <span>
                        <img src="assets/img/LegionIcons/Ranks/Legend.png">
                        <h6>Ao-Stinkt</h6>
                    </span>
                    <span>
                        <img src="assets/img/LegionIcons/Ranks/Legend.png">
                        <h6>Würg</h6>
                    </span>
                    <span>
                        <img src="assets/img/LegionIcons/Ranks/Legend.png">
                        <h6>LUL</h6>
                    </span>
                </span>
            </div>
        </div>  
    </div>
</div>