
<b>Stats</b>
<ul>
    <li>Wins <span style="text-align: right;">50</span></li>
    <li>Losses <span>50</span></li>
    <li>Winrate <span>50</span></li>
    <li>Total XP <span>50</span></li>
    <li>Casual Games Played <span>50</span></li>
    <li>Games Played <span>50</span></li>
    <li>Behaviour Score <span>50</span></li>
    <li>Ranked Elo <span>50</span></li>
    <li>Ranked Peak Elo <span>50</span></li>
    <li>Classic Elo <span>50</span></li>
    <li>Classic Peak Elo <span>50</span></li>
</ul>